# Database
ConnectionStrings__Default=Host=localhost;Port=5432;Database=mark_ias_video_processing;Username=postgres;Password=

# MinIO
MinIO__Endpoint=<host>:<port>
MinIO__AccessKey=
MinIO__SecretKey=
